body {
  background-color: gray;
}

.container {

}

.row {
  display: inline-flex;
  padding-left: 200px;
  padding-right: 200px;
}

.columns {
  justify-content: space-between;
  font-size: 20px;
  text-align: center;
  padding: 20px;

}

#start-button {
  font-size: 50px;
  align-self: flex-end;
  background-color: gray;
}

#theCanvas {
  background-image: url('images/background.png');
  background-size: contain;
  background-repeat: no-repeat;
}

#game-board {
  padding-left: 140px
}

.bros {
  background-color: gray;
  width: 300px;
  height: 300px;
}

.arrows {
  height: 250px;
  width: 250px;
}


